$main-bg-color: #fefcf7;
$main-bg-sections-color: #293039;
$main-one-text-color: #83888f;
$main-two-text-color: #fefcf7;
$main-three-text-color: #333d4b;

// fonts

$fonts-fraunces: "Fraunces";
$fonts-barlow: "Barlow";
